.cart {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  &.wrapper {
    margin: 1rem auto;
  }

  &__products {
    background-color: #f7f7f7;
    padding: 0.5rem;
    border-radius: 1rem;

    &__product {
      &:not(:last-child) {
        border-bottom: 1px solid $base-color;
      }
      display: grid;
      grid-template-columns: 1fr 2.5fr 1.2fr 1fr;
      align-items: center;
      gap: 0.5rem;
      padding: 0.25rem;
      &__image {
        height: 6rem;
        border-radius: 1rem;
        background-color: rgb(0 0 0 / 5%);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
      &__details {
        display: flex;
        flex-direction: column;
        align-items: start;
        h4 {
          width: fit-content;
        }
      }
      &__price {
        font-weight: bold;
        color: $base-color;
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        align-items: center;
        margin-right: 4rem;
        span {
          text-decoration: line-through;
          color: #aaa;
          // color: $base-color;
        }
        div {
          font-size: 1.1rem;
        }
        // @include devices(md) {
        //   & {
        //     flex-direction: column;
        //   }
        // }
      }
      &__controls {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
      @include devices(md) {
        & {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        &__image {
          width: 100%;
        }
        &__details {
          align-items: center;
        }
        &__price {
          margin-right: 0;
        }
      }
    }
  }

  &__totals {
    background-color: #f7f7f7;
    border-radius: 1rem;
    padding: 1rem;
    height: fit-content;
    h3 {
      // border-bottom: 2px solid $base-text;
    }
    &__product {
      margin: 0.25rem 0;
    }
    &__total {
      border-top: 2px solid $base-text;
      font-weight: bold;
      font-size: 1.1rem;
      color: $base-color;
      padding: 0.25rem 0;
    }
    &__checkout {
      margin: 0.5rem;
      background-color: $base-color;
      border-radius: 0.25rem;
      border: 1px solid #fff;
      font-size: 1.25rem;
      font-weight: bold;
      color: white;
      width: -webkit-fill-available;
      padding: 0.25rem 0;
      cursor: pointer;
    }
  }

  @include devices(md) {
    & {
      grid-template-columns: 1fr;
    }
  }

  .delete-btn {
    padding: 0.25rem 0.75rem;
    color: white;
    background-color: #e54444;
    border: 1px solid #fff;
    border-radius: 0.5rem;
  }
}
