.categories {
  .categories__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #eee;

    &__img {
      height: 5rem;
    }

    p {
      font-size: 14px;
    }
  }
}
