.offers {
  .offers__slide {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #eee;
  }
  .offers__slide,
  .offers__slide a {
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 0.5rem;

    text-align: left;

    &__img {
      max-height: 5rem;
      margin: 0 auto;
    }
    &__type {
      display: flex;
      justify-content: space-between;
      width: -webkit-fill-available;
    }
    &__price {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      h3 {
        color: $base-color;
      }
      p {
        color: #aaa;
        text-decoration: line-through;
      }
    }
    &__add {
      margin: 0 auto;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.25rem;
      color: $base-color;
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      transition: all 0.1s ease-in-out;

      svg {
        font-size: 24px;
        color: $base-color;
      }
      &:hover {
        background-color: #ccc;
      }
    }
  }
}
